<div class="sign-container" style="">
  <app-logo></app-logo>
  <form [formGroup]="loginForm">
    <div class="row">
      <div class="col-md-6">
        <label for="email" class="control-label required">email</label>
        <input type="text" id="email" class="form-control" formControlName="email"/>
      </div>

      <div class="col-md-6">
        <label for="password" class="control-label required">password</label>
        <input type="text" id="password" class="form-control" formControlName="password"/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label for="name" class="control-label required">name</label>
        <input type="text" id="name" class="form-control" formControlName="name"/>
      </div>

      <div class="col-md-6">
        <label for="lastname" class="control-label required">lastname</label>
        <input type="text" id="lastname" class="form-control" formControlName="lastname"/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <label for="phone" class="control-label required">phone</label>
        <input type="text" id="phone" class="form-control" formControlName="phone"/>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <app-cities (reseted)="reset($event)" (voted)="onChangeCity($event)"></app-cities>
      </div>
    </div>
    <app-field-error-display [displayError]="isEmailOrPhoneExists" errorMsg="email or phone already in use">
    </app-field-error-display>
    <app-field-error-display [displayError]="isControlInvalid('email')" errorMsg="incorrect email">
    </app-field-error-display>
    <app-field-error-display [displayError]="isControlInvalid('password')" errorMsg="incorrect password">
    </app-field-error-display>
    <app-field-error-display [displayError]="isControlInvalid('name')" errorMsg="incorrect name">
    </app-field-error-display>
    <app-field-error-display [displayError]="isControlInvalid('lastname')" errorMsg="incorrect lastname">
    </app-field-error-display>
    <app-field-error-display [displayError]="isControlInvalid('phone')" errorMsg="incorrect phone">
    </app-field-error-display>
    <app-field-error-display [displayError]="isControlInvalid('cityId')" errorMsg="input your adress">
    </app-field-error-display>

    <button type="submit" class="btn btn-success" (click)="onSubmit()">submit
    </button>

    Have an account? <a [routerLink]="['../login']">login</a>
  </form>
</div>
